<%= form_for(@pizza) do |f| %>
<% if @pizza.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @pizza.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<ul class="list-unstyled">
  <li>
  <%= f.label :name, "Nome" %>
  <%= f.text_field :name, class: "form-control" %>
  </li>
  <li>
  <%= f.label :description, "Descrição" %>
  <%= f.text_area :description, class: "form-control" %>
  </li>
  <li>
  <%= f.label :price, "Valor" %><br>
  <%= f.text_field :price, class: "form-control"  %>
  </li>
  <li>
  <%= f.label :kcal, "Valor Calórico" %><br>
  <%= f.text_field :kcal, class: "form-control"  %>
  </li>
  <li>
  <%= f.label "Sabores" %>
  <% @ingredients.each do |i| %>
  <div class="checkbox">
    <%= content_tag(:span, check_box_tag("pizza[ingredient_ids][]", i.id, @pizza.ingredients.include?(i)), nil) %> <%= i.name %>
  </div>
  </li>
  <% end %>
  <li>
  <%= f.label :photo, "Imagem" %><br>
  <%= f.file_field :photo %>
  </li>
  <li>
  <br/>
  <%= f.submit "Cadastrar Pizza", class: "btn btn-success" %>
  <%= link_to("Voltar", pizzas_path, class: "btn btn-link") %>
  </li>
</ul>
<% end %>

