<%= form_for(@pizza) do |f| %>
<% if @pizza.errors.any? %>
<div id="error_explanation">

  <ul>
    <% @pizza.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :price %><br>
  <%= f.text_field :price %>
</div>
<div class="field">
  <%= f.label :kcal %><br>
  <%= f.text_field :kcal %>
</div>
<div class="field">
  <% @ingredients.each do |i| %>?????????????????????????????????????
  <%= ingredients.label :name, i.name %>?????????????????????????????
  <%= ingredients.check_box :name, {}, i.name, i.id %>???????????????
  <% end %>??????????????????????????????????????????????????????????
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

