<h1>Pizzas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Valor Calórico</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @pizzas.each do |pizza| %>
  <tr>
    <td><%= pizza.name %></td>
    <td><%= simple_format(pizza.description) %></td>
    <td><%= pizza.price %></td>
    <td><%= pizza.kcal %></td>
    <td>
      <%= link_to 'Editar', edit_restaurant_pizza_path(restaurant_id: pizza.restaurant.id, id: pizza.id), class: "btn btn-default btn-xs" %>
      <%= link_to 'Remover', restaurant_pizza_path(restaurant_id: pizza.restaurant.id, id: pizza.id), method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger btn-xs" %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= will_paginate @pizzas %>
</div>
<br>

<%= link_to 'Nova Pizza', new_restaurant_pizza_path, class: "btn btn-success" %>


