<div class="row">
  <div class="col-lg-12">
    <%= form_tag @pizza, method: 'get' do %>
    <div class="col-lg-6 col-lg-offset-2">
      <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Informe o sabor da pizza" %>
    </div>
    <div class="col-lg-4">
      <%= submit_tag "Buscar", class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>

<h1>Pizzas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Valor Calórico</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @pizzas.each do |pizza| %>
  <tr>
    <td><%= pizza.name %></td>
    <td><%= pizza.description %></td>
    <td><%= "R$ " + pizza.price.to_s %></td>
    <td><%= pizza.kcal.to_s + " kcal" %></td>
    <td><%= link_to 'Ver', pizza %></td>
    <td><%= link_to 'Editar', edit_pizza_path(pizza) %></td>
    <td><%= link_to 'Remover', pizza, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= will_paginate @pizzas %>
</div>
