<%= form_for(@restaurant) do |f| %>
<% if @restaurant.errors.any? %>
<div class="alert alert-danger">
  <ul class="list-unstyled">
    <% @restaurant.errors.full_messages.each do |msg| %>
    <li><%= "Campo " + msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<ul class="list-unstyled">
  <li>
  <%= f.label :name, "Nome" %>
  <%= f.text_field :name, class: "form-control" %>
  </li>
  <li>
  <%= f.label :address, "Endereço" %>
  <%= f.text_area :address, class: "form-control" %>
  </li>
  <li>
  <%= f.label :founded_at, "Data de Criação" %><br>
  <%= f.text_field :founded_at, class: "form-control"  %>
  </li>
  <li>
  <%= f.label :email, "Email" %><br>
  <%= f.text_field :email, class: "form-control"  %>
  </li>
  <li>
  <%= f.label :capacity, "Capacidade" %><br>
  <%= f.text_field :capacity, class: "form-control"  %>
  </li>
  <li>
  <%= f.label :photo, "Imagem" %><br>
  <%= f.file_field :photo %>
  </li>
  <li>
  <br/>
  <%= f.submit "Salvar", class: "btn btn-success" %>
  <%= link_to("Voltar", restaurants_path, class: "btn btn-link") %>
  </li>
</ul>
<% end %>
