<h1>Pizzarias</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereço</th>
      <th>Data de Criação</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.address %></td>
    <td><%= restaurant.founded_at.strftime('%d/%m/%Y') if restaurant.founded_at %></td>
    <td><%= restaurant.email %></td>
    <td>
      <%= link_to 'Cardápio', restaurant_pizzas_path(restaurant), class: "btn btn-success btn-xs" %>
      <%= link_to 'Ver', restaurant, class: "btn btn-success btn-xs" %>
      <%= link_to 'Editar', edit_restaurant_path(restaurant), class: "btn btn-default btn-xs" %>
      <%= link_to 'Remover', restaurant, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger btn-xs" %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= will_paginate @restaurantes %>
</div>
<br>

<%= link_to 'Nova Pizzaria', new_restaurant_path, class: "btn btn-success" %>
